<section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Über uns<br></h2>
        <p><span>Was wir tun</span> <span class="description-title">Wer sind wir?</span></p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">
            <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
                <img src="assets/img/about.jpg" class="img-fluid mb-4" alt="">
                <div class="book-a-table">
                    <h3>Reservieren Sie</h3>
                    <p>044 950 60 60 </p>
                </div>
            </div>
            <div class="col-lg-5" data-aos="fade-up" data-aos-delay="250">
                <div class="content ps-0 ps-lg-5">
                    <p class="fst-italic">
                        Die SunShine Lounge bietet ein innovatives Café- und Restauranterlebnis, das zeitgenössischen Geschmack mit Eleganz und Komfort verbindet.
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle-fill"></i> <span>Freundlich & gastfreundlich.</span></li>
                        <li><i class="bi bi-check-circle-fill"></i> <span>Modern & Stilvoll.</span></li>
                        <li><i class="bi bi-check-circle-fill"></i> <span>Gourmet & Hochwertig orientiert.</span></li>
                    </ul>
                    <p>
                        Stellen Sie sich einen Ort vor, der die Wärme der Sonne und die Freude der Freundschaft vereint … Genau das ist das SunShine Lounge Cafe & Bar Restaurant!

                        Wir; Wir sind die Adresse, wo Menschen bei gutem Kaffee, leckerem Essen und guten Gesprächen zusammenkommen. Wir begleiten Sie in jedem Moment vom Frühstück bis zum abendlichen Cocktail und versuchen, Ihnen den Komfort Ihres Zuhauses zu bieten.

                        Denn was uns wichtig ist, ist nicht nur das Essen, sondern die Verbindung, die wir zu Ihnen aufbauen. Auf jedem Teller steckt Aufrichtigkeit und in jeder Tasse Sorgfalt.
                    </p>

                   @*  <div class="position-relative mt-4">
                        <img src="assets/img/about-2.jpg" class="img-fluid" alt="">
                        <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
                    </div> *@
                </div>
            </div>
        </div>

    </div>

</section>